.button {
  display: block;
  border-radius: 200px;
  width: 166px;
  height: 56px;
  font-size: 16px;
  letter-spacing: -0.01em;
  cursor: pointer;
  font-weight: 500;
}

.view,
.show,
.search,
.submit {
  background: var(--button);
  color: var(--white);
}
.view:hover,
.show:hover,
.search:hover,
.submit:hover {
  background: var(--button-hover);
}

.view {
  max-width: 173px;
}

.load {
  margin: 40px auto 0px;
  min-width: 145px;
  background: inherit;
  border: 1px solid var(--gray-light);
}

.load:hover {
  border-color: var(--button-hover);
}
