.form_section {
  width: calc((100% - 40px) / 2);
  border-radius: 10px;
  padding: 44px;
  border: 1px solid var(--gray-light);
  min-height: 588px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  width: 100%;
}
.form > :last-child {
  margin-top: 10px;
}

.form div {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  padding: 18px;
  height: 60px;
  border: none;
  background: var(--inputs);
  border-radius: 12px;
}

.form div span {
  font-size: 12px;
  color: var(--button);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}

.textarea {
  height: 118px;
  resize: none;
}
